* {
    font-family: sans-serif;
}

/*
    Basic config of html elements
 */

html {
    background-color: #F0FFF0;
}

h1 {
    color: #F2DB5B;
    font-family: trajan pro, sans-serif;
    text-align: center;
    font-size: 60px;
    opacity: 500;
    margin: 10px auto;
    justify-content: center;
    text-shadow: 2px 2px #2A120A;
}

.gameButton {
    background-color: silver;
    /*width: 40px;*/
    font-family: sans-serif;
    text-align: center;
    font-size: 1em;
    color: #fdf5e6;
    text-decoration: none;
    border: .15em solid black;
    border-radius: 25px;
    padding: .5em;
}

.container {
    margin: 10px auto;
}

.left {
    width: 400px;
    vertical-align: middle;
    text-align: right;
}

.middleGame {
    width: 800px;
    text-align: center;
}

.middle {
    width: 400px;
    margin: 30px;
    text-align: center;
}

.right {
    width: 400px;
    vertical-align: middle;
    text-align: left;
}

/*
    Settings for the game table
 */

.cell {
    margin: 5px;
}

.word {
    width: 100px;
    height: 35px;
    color: #ffffff;
    background-color: #444444;
    border-radius: 5px;
    padding: 20px;
    font-size: 100%;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    text-align: center;
}

.spacer {
    width: 100px;
    height: 35px;
    visibility: hidden;
    padding: 20px;
    font-size: 100%;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    text-align: center;
}

.highlight {
    background-color: #37C0AA;
    font-weight: bold;
}

/* Bordered form */
#loginForm {
    border: 3px solid #f1f1f1;
    padding:10px 3px 10px 3px;
}

/* Full-width inputs */
input, select/*[type=text], input[type=password]*/ {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: transparent;
}

/* Set a style for all buttons */
button, .registerButton, .mainMenuButton, .catButton {
    background-color: #37C0AA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover, .registerButton:hover,.mainMenuButton:hover, .catButton:hover {
    opacity: 0.8;
}

