* {
    font-family: sans-serif;
}

/*
    Basic config of html elements
 */

html {

    /*background-color: darkgoldenrod;*/
    /*background-image: image("Assets/Hintergrund.jpg");*/
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: #D4AF37;
    font-family: trajan pro, sans-serif;
    text-align: center;
    font-size: 60px;
    opacity: 500;
    margin: 10px auto;
    justify-content: center;
    text-shadow: 2px 2px #2A120A;
}

.gameButton {
    background-color: silver;
    /*width: 40px;*/
    font-family: sans-serif;
    text-align: center;
    font-size: 1em;
    color: #fdf5e6;
    text-decoration: none;
    border: .15em solid black;
    border-radius: 25px;
    padding: .5em;
}

.container {
    margin: 10px auto;
}

.left {
    width: 400px;
    vertical-align: middle;
    text-align: right;
}

.middle {
    width: 800px;
    text-align: center; /*test*/
}

.right {
    width: 400px;
    vertical-align: middle;
    text-align: left;
}

/*
    Settings for the game table
 */

.cell {
    margin: 5px;
}

.word {
    width: 100px;
    height: 35px;
    color: #ffffff;
    background-color: #444444;
    border-radius: 5px;
    padding: 20px;
    font-size: 100%;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    text-align: center;
}

.spacer {
    width: 100px;
    height: 35px;
    visibility: hidden;
    padding: 20px;
    font-size: 100%;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    text-align: center;
}

.highlight {
    background-color: green;
    font-weight: bold;
}
