* {
    font-family: sans-serif;
}

/*
    Basic config of html elements
 */

html {

    /*background-color: darkgoldenrod;*/
/ / background-image: image("Assets/Hintergrund.jpg");
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 19.5%;
}

h1 {
    color: #D4AF37;
    font-family: trajan pro;
    text-align: center;
    font-size: 60px;
    opacity: 500;
    margin-top: -15%;
    margin-left: -3%;
    justify-content: center;
    text-shadow: 2px 2px #2A120A;
}

div {
    text-align: center;
}


table {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: center;
}

tr, td {
    margin: .25em;
    display: inline-block;
}

td {
    min-width: 100px;
    color: #000000;
}

button {
    background-color: silver;
    width: 100%;
    font-family: sans-serif;
    text-align: center;
    font-size: 1em;
    color: #fdf5e6;
    text-decoration: none;
    border: .15em solid black;
    border-radius: 25px;
    padding: .5em;
    margin: .2em;
}

/*
    Settings for the game table
 */

.word {
    background-color: #444444;
    color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    text-align: center;
}
.spacer {
    visibility: hidden;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    display: inline-block;
    justify-content: center;
    text-align: center;
}

.left {
    align-items: center;
    top: 0px;
    float:left;
    width:10%;
}

.right {
    top: 0px;
    float: right;
    width: 25%;
}

.middle {
    top: 0px;
    display: inline-block;
    margin: .2em;
    padding: .5em;
}

.info {

}

.highlight {
    background-color: green;
    font-weight: bold;
    text-decoration: line-through;
}
