*{
    font-family: georgia;
}

html{

    /*background-color: darkgoldenrod;*/
    background-image: image('assets/Folie.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    margin-top: 19.5%;  
}

h1 {
    color: #D4AF37;
    font-family: trajan pro;
    text-align: center;
    font-size: 80px;
    opacity: 500; 
    margin-top: -5%;
    margin-left: -3%;
    text-shadow: 2px 2px #2A120A;
}


.button {
    background-color: darkgoldenrod;
    position: center;
    font-family: trajan pro;
    text-align: center;
    font-size: 16px;
    color: #fdf5e6;
    text-decoration: none;
    border: none;
    padding: 16px 32px; 
    margin: 4px 2px;
    display:inline-block;
}

a.button:hover, a.button:focus, a.button:active {
    background-color: #D4AF37;
}


